.container {
        display: flex;
        justify-content: space-around;
}
/* style untuk kotak */
.kotak {
    border: 3px solid black;
    /* tambahkan lebar  */
    width: 150px;
    /* tambahkan tinggi */
    height: 700px;
}
/* style untuk item 1-4 */
.item-1 {
    background-color: yellow;
}
.item-2 {
    background-color:red;
}
.item-3 {
    background-color :green;
}
.item-4 {
    background-color: blue;
}
